body {
	background-color: #f5f5fa;
	color: #b6b6b8;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 20px;
}

#header {
    position:inherit;
    background-color:black;
    color:white;
    text-align:left;
    padding:5px;
    height:200px;
    width:200px;
    bottom:0px;    
}

.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*background: #fff;*/
	z-index: 10000;
	height: 250px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

p-af-inner {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-af-header h1,
.cbp-af-header nav {
	display: inline-block;
	position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
	line-height: 100px;
}

.cbp-af-header h1 {
	/*text-transform: uppercase;*/
	letter-spacing: 2px;
	font-size: 2em;
	margin: 0;
	float: left;
	/*font-family: 'Playfair Display', serif;*/
    font-family: 'Istok Web', sans-serif;
	font-weight: 700;
    position:inherit;
    float:left;
    text-align:right;
    vertical-align:text-bottom;
    margin:20px;
    bottom:0px;
    color:whitesmoke;
    line-height:35px;
}


.cbp-af-header hormweight: 400;
	text-align: center;
}


.cbp-af-header nav {
	float: right;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
}

.cbp-af-header nav a {
	color: #000;
	font-weight: 700;
	margin: 0 0 0 50px;
	font-size: 1.4em;
	padding-bottom: 10px;
}

.cbp-af-header nav a:hover {
	color: #000;
	text-decoration: none;
	padding-bottom: 10px;
	border-bottom: 3px solid #000;
}

.cbp-af-header nav .active {
	color: #8a8a8a;
	padding-bottom: 10px;
	border-bottom: 3px solid #000;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	height: 80px;
	background: #fff;
}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: 80px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 1.5em;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
	
	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

	.cbp-af-header h1,
	.cbp-af-header nav {
		display: block;
		margin: 0 auto;
		text-align: right;
		float: none;
	}

	/*/.cbp-af-header h1,*/
	.cbp-af-header nav a {
		line-height: 115px;
	}

	.cbp-af-header nav a {
		margin: 0 10px;
	}

	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 45px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
		font-size: 2em;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 32.25em) {
	.cbp-af-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
}

.content {
	margin-top: 130px;
}
