
#form1{
    width:1300px;
    margin:0 auto;
    height:100%;
    transition: width 0.3s, height 0.3s;
}

#header_wrapper {
    position:relative;
    width:1000px;
    height:250px;
    top: 0px;
    left: 0px;
}

#header {
    position:absolute;
    background-color:black;
    color:white;
    text-align:left;
    padding:5px;
    height:200px;
    width:200px;
    bottom:0px;
    transition: all 0.3s;    
}
#header_text {
    position:inherit;
    float:left;
    text-align:right;
    vertical-align:text-bottom;
    margin:20px;
    bottom:0px;
    font-family: 'Istok Web', sans-serif;
}

#nav_wrapper {
    position:absolute;
    right:0px;
    bottom:20px;
    width:600px;
    transition: all 0.3s;
}
#nav {
    position:absolute;
    bottom: 0px;
    line-height:30px;
    background-color:#eeeeee;
    height:30px;
    width:100px;
    float:left;
    padding:5px;
}
.nav_item {
	float: left; 
    padding-left:10px;
    padding-right:10px;
    font-family: 'Istok Web', sans-serif;
    
	/*font-weight: 700;*/
	font-size: 1em;
}

.nav_item a {
    text-decoration: none;
    color: #000;
    font-weight:400;
    transition: all 0.3s;
}

.nav_item a:hover {
    color: #000;
	text-decoration: none;
	padding-bottom: 10px;
	border-bottom: 3px solid #000;
}

.nav_item .active {
    color: #8a8a8a;
	padding-bottom: 10px;
	border-bottom: 3px solid #000;
}

#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

@media screen and (max-width: 62em) {
    #header_wrapper {
        width:1000px;
        height:250px;
    }
    #header {
        bottom:auto;
        /*display:block;*/
    }
    #nav_wrapper{
        /*display:block;*/
        left:0px;
        right:auto;
        bottom:0px;
        padding-left:10px;
        padding-bottom:8px;
    }
}

@media screen and (max-width: 32.25em) {

}

@media screen and (max-width: 24em) {

}